.DS_Store
.claude/
*.ez
erl_crash.dump
**/bin/
**/obj/
**/build/
apps/
_build/

# Ignore compiled BEAM files
*.beam

# Paket
paket-files/
.paket/

# NuGet Packages
*.nupkg
*.snupkg
nupkgs/

.fake

# Python
.venv
**/__pycache__/
.pytest_cache
